IPL Match Prediction Project

In [139]:
import numpy as np
import pandas as pd

In [140]:
pwd

'C:\\Users\\asus'

In [141]:
match = pd.read_csv('matches.csv')
delivery = pd.read_csv('deliveries.csv')

In [142]:
match.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [143]:
match.tail()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
751,11347,IPL-2019,Mumbai,05-05-2019,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi
752,11412,IPL-2019,Chennai,07-05-2019,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould
753,11413,IPL-2019,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN
754,11414,IPL-2019,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin
755,11415,IPL-2019,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

In [144]:
delivery.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [145]:
match.shape

(756, 18)

In [146]:
delivery.tail()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [147]:
delivery.shape

(179078, 21)

In [148]:
total_score_df = delivery.groupby(['match_id','inning']).sum()['total_runs'].reset_index()

In [149]:
total_score_df[total_score_df['inning']==2]

      match_id  inning  total_runs
1            1       2         172
3            2       2         187
5            3       2         184
7            4       2         164
9            5       2         142
...        ...     ...         ...
1519     11347       2         137
1521     11412       2         140
1523     11413       2         170
1525     11414       2         162
1527     11415       2         157

[754 rows x 3 columns]

In [150]:
match_df = match.merge(total_score_df[['match_id','total_runs']],left_on='id',right_on='match_id')

In [151]:
match_df

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN,1,207
1,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN,1,172
2,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN,2,184
3,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN,2,187
4,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN,3,183
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1523,11413,IPL-2019,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN,11413,170
1524,11414,IPL-2019,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin,11414,155
1525,11414,IPL-2019,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin,11414,162
1526,11415,IPL-2019,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong,11415,152
1527,11415,IPL-2019,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong,11415,157

In [152]:
match_df['team1'].unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Daredevils', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Delhi Capitals'], dtype=object)

In [153]:
teams = [
    'Sunrisers Hyderabad',
    'Mumbai Indians',
    'Royal Challengers Banglore',
    'Chennai Super Kings',
    'Kolkata Knight Ridres',
    'kings XI Punjab',
    'Rajasthan Royals',
    'Delhi Capitals',
]

In [154]:
match_df.shape

(1528, 20)

In [155]:
match_df['team1'] = match_df['team1'].str.replace('Delhi Daredevils','Delhi Capitals')
match_df['team2'] = match_df['team2'].str.replace('Delhi Daredevils','Delhi Capitals')

match_df['team1'] = match_df['team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['team2'] = match_df['team2'].str.replace('Deccan chargers','Sunrisers Hyderabad')

In [156]:
match_df = match_df[match_df['team1'].isin(teams)]
match_df = match_df[match_df['team2'].isin(teams)]

In [157]:
match_df.shape

(418, 20)

In [158]:
match_df = match_df[match_df['dl_applied']==0]

In [159]:
match_df

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,match_id,total_runs
18,10,IPL-2017,Mumbai,12-04-2017,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,JJ Bumrah,Wankhede Stadium,Nitin Menon,CK Nandan,NaN,10,158
19,10,IPL-2017,Mumbai,12-04-2017,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,JJ Bumrah,Wankhede Stadium,Nitin Menon,CK Nandan,NaN,10,159
40,21,IPL-2017,Hyderabad,19-04-2017,Sunrisers Hyderabad,Delhi Capitals,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,15,0,KS Williamson,"Rajiv Gandhi International Stadium, Uppal",CB Gaffaney,NJ Llong,NaN,21,191
41,21,IPL-2017,Hyderabad,19-04-2017,Sunrisers Hyderabad,Delhi Capitals,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,15,0,KS Williamson,"Rajiv Gandhi International Stadium, Uppal",CB Gaffaney,NJ Llong,NaN,21,176
46,24,IPL-2017,Mumbai,22-04-2017,Mumbai Indians,Delhi Capitals,Delhi Daredevils,field,normal,0,Mumbai Indians,14,0,MJ McClenaghan,Wankhede Stadium,A Nand Kishore,S Ravi,NaN,24,142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1523,11413,IPL-2019,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN,11413,170
1524,11414,IPL-2019,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin,11414,155
1525,11414,IPL-2019,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin,11414,162
1526,11415,IPL-2019,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong,11415,152
1527,11415,IPL-2019,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong,11415,157

In [160]:
match_df = match_df[['match_id','city','winner','total_runs']]

In [161]:
delivery_df = match_df.merge(delivery,on='match_id')

In [162]:
delivery_df = delivery_df[delivery_df['inning']==2]

In [163]:
delivery_df.shape

(48082, 24)

In [164]:
delivery_df['current_score'] = delivery_df.groupby('match_id').cumsum()['total_runs_y']

In [165]:
delivery_df['runs_left'] = delivery_df['total_runs_x']  - delivery_df['current_score']

In [166]:
delivery_df['balls_left'] = 126 - (delivery_df['over']*6 + delivery_df['ball'])

In [167]:
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].fillna("0")
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].apply(lambda x:x if x == "0" else "1")
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].astype('int')
wickets = delivery_df.groupby('match_id').cumsum()['player_dismissed'].values
delivery_df['wickets'] = 10 - wickets
delivery_df.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,...,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets
126,10,Mumbai,Mumbai Indians,158,2,Mumbai Indians,Sunrisers Hyderabad,1,1,PA Patel,...,0,0,0,0,NaN,NaN,0,158,119,10
127,10,Mumbai,Mumbai Indians,158,2,Mumbai Indians,Sunrisers Hyderabad,1,2,PA Patel,...,1,0,1,0,NaN,NaN,1,157,118,10
128,10,Mumbai,Mumbai Indians,158,2,Mumbai Indians,Sunrisers Hyderabad,1,3,JC Buttler,...,0,0,0,0,NaN,NaN,1,157,117,10
129,10,Mumbai,Mumbai Indians,158,2,Mumbai Indians,Sunrisers Hyderabad,1,4,JC Buttler,...,0,0,0,0,NaN,NaN,1,157,116,10
130,10,Mumbai,Mumbai Indians,158,2,Mumbai Indians,Sunrisers Hyderabad,1,5,JC Buttler,...,4,0,4,0,NaN,NaN,5,153,115,10

curerent run rate

In [168]:
delivery_df['crr'] = (delivery_df['current_score']*6)/(120 - delivery_df['balls_left'])
delivery_df.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,...,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets,crr
126,10,Mumbai,Mumbai Indians,158,2,Mumbai Indians,Sunrisers Hyderabad,1,1,PA Patel,...,0,0,0,NaN,NaN,0,158,119,10,0.0
127,10,Mumbai,Mumbai Indians,158,2,Mumbai Indians,Sunrisers Hyderabad,1,2,PA Patel,...,0,1,0,NaN,NaN,1,157,118,10,3.0
128,10,Mumbai,Mumbai Indians,158,2,Mumbai Indians,Sunrisers Hyderabad,1,3,JC Buttler,...,0,0,0,NaN,NaN,1,157,117,10,2.0
129,10,Mumbai,Mumbai Indians,158,2,Mumbai Indians,Sunrisers Hyderabad,1,4,JC Buttler,...,0,0,0,NaN,NaN,1,157,116,10,1.5
130,10,Mumbai,Mumbai Indians,158,2,Mumbai Indians,Sunrisers Hyderabad,1,5,JC Buttler,...,0,4,0,NaN,NaN,5,153,115,10,6.0

required run rate

In [169]:
# rrr
delivery_df['rrr'] = (delivery_df['runs_left']*6)/delivery_df['balls_left']
delivery_df.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,...,total_runs_y,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets,crr,rrr
126,10,Mumbai,Mumbai Indians,158,2,Mumbai Indians,Sunrisers Hyderabad,1,1,PA Patel,...,0,0,NaN,NaN,0,158,119,10,0.0,7.966387
127,10,Mumbai,Mumbai Indians,158,2,Mumbai Indians,Sunrisers Hyderabad,1,2,PA Patel,...,1,0,NaN,NaN,1,157,118,10,3.0,7.983051
128,10,Mumbai,Mumbai Indians,158,2,Mumbai Indians,Sunrisers Hyderabad,1,3,JC Buttler,...,0,0,NaN,NaN,1,157,117,10,2.0,8.051282
129,10,Mumbai,Mumbai Indians,158,2,Mumbai Indians,Sunrisers Hyderabad,1,4,JC Buttler,...,0,0,NaN,NaN,1,157,116,10,1.5,8.120690
130,10,Mumbai,Mumbai Indians,158,2,Mumbai Indians,Sunrisers Hyderabad,1,5,JC Buttler,...,4,0,NaN,NaN,5,153,115,10,6.0,7.982609

In [170]:
def result(row):
    return 1 if row['batting_team'] == row['winner'] else 0

In [171]:
delivery_df['result'] = delivery_df.apply(result,axis=1)
delivery_df.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,...,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets,crr,rrr,result
126,10,Mumbai,Mumbai Indians,158,2,Mumbai Indians,Sunrisers Hyderabad,1,1,PA Patel,...,0,NaN,NaN,0,158,119,10,0.0,7.966387,1
127,10,Mumbai,Mumbai Indians,158,2,Mumbai Indians,Sunrisers Hyderabad,1,2,PA Patel,...,0,NaN,NaN,1,157,118,10,3.0,7.983051,1
128,10,Mumbai,Mumbai Indians,158,2,Mumbai Indians,Sunrisers Hyderabad,1,3,JC Buttler,...,0,NaN,NaN,1,157,117,10,2.0,8.051282,1
129,10,Mumbai,Mumbai Indians,158,2,Mumbai Indians,Sunrisers Hyderabad,1,4,JC Buttler,...,0,NaN,NaN,1,157,116,10,1.5,8.120690,1
130,10,Mumbai,Mumbai Indians,158,2,Mumbai Indians,Sunrisers Hyderabad,1,5,JC Buttler,...,0,NaN,NaN,5,153,115,10,6.0,7.982609,1

In [172]:
final_df = delivery_df[['batting_team','bowling_team','city','runs_left','balls_left','wickets','total_runs_x','crr','rrr','result']]

In [173]:
final_df = final_df.sample(final_df.shape[0])

In [174]:
final_df.sample()

,batting_team,bowling_team,city,runs_left,balls_left,wickets,total_runs_x,crr,rrr,result
97592,Mumbai Indians,Chennai Super Kings,Chennai,-19,105,5,140,63.6,-1.085714,1

In [175]:
final_df.dropna(inplace=True)

In [176]:
final_df = final_df[final_df['balls_left'] != 0]

In [177]:
x = final_df.iloc[:,:-1]
y = final_df.iloc[:,-1]
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=1)

In [178]:
x_train

,batting_team,bowling_team,city,runs_left,balls_left,wickets,total_runs_x,crr,rrr
23497,Chennai Super Kings,Rajasthan Royals,Ahmedabad,-157,4,-2,160,16.396552,-235.500000
33141,Mumbai Indians,Deccan Chargers,Mumbai,-14,100,1,125,41.700000,-0.840000
35158,Rajasthan Royals,Mumbai Indians,Mumbai,163,91,8,197,7.034483,10.747253
81154,Mumbai Indians,Sunrisers Hyderabad,Mumbai,-25,82,-3,89,18.000000,-1.829268
51894,Rajasthan Royals,Sunrisers Hyderabad,Hyderabad,84,47,7,136,4.273973,10.723404
...,...,...,...,...,...,...,...,...,...
30721,Chennai Super Kings,Rajasthan Royals,Chennai,-74,59,7,149,21.934426,-7.525424
59178,Rajasthan Royals,Sunrisers Hyderabad,Ahmedabad,34,4,1,134,5.172414,51.000000
98188,Delhi Capitals,Sunrisers Hyderabad,Visakhapatnam,-164,5,-3,170,17.426087,-196.800000
21980,Delhi Daredevils,Deccan Chargers,Cuttack,-56,82,0,161,34.263158,-4.097561
63683,Chennai Super Kings,Mumbai Indians,Mumbai,-47,88,7,176,41.812500,-3.204545

In [179]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

trf = ColumnTransformer([
('trf', OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','city'])
]
,remainder='passthrough')

In [180]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline

In [181]:
pipe = Pipeline(steps=[
      ('step1',trf),
      ('step2',LogisticRegression(solver = 'liblinear'))
])

In [182]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [183]:
y_pred = pipe.predict(x_test)

In [184]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.847210391822828

In [185]:
pipe.predict_proba(x_test)[10]

array([0.18493691, 0.81506309])

In [186]:
def match_summary(row):
    print("Batting Team-" + row['batting_team'] + " | Bowling Team-" + row['bowling_team'] + " | Target- " + str(row['total_runs_x']))

In [187]:
def match_progression(x_df,match_id,pipe):
    match = x_df[x_df['match_id'] == match_id]
    match = match[(match['ball'] == 6)]
    temp_df = match[['batting_team','bowling_team','city','runs_left','balls_left','wickets','total_runs_x','crr','rrr']].dropna()
    temp_df = temp_df[temp_df['balls_left'] != 0]
    result = pipe.predict_proba(temp_df)
    temp_df['lose'] = np.round(result.T[0]*100,1)
    temp_df['win'] = np.round(result.T[1]*100,1)
    temp_df['end_of_over'] = range(1,temp_df.shape[0]+1)
    
    target = temp_df['total_runs_x'].values[0]
    runs = list(temp_df['runs_left'].values)
    new_runs = runs[:]
    runs.insert(0,target)
    temp_df['runs_after_over'] = np.array(runs)[:-1] - np.array(new_runs)
    wickets = list(temp_df['wickets'].values)
    new_wickets = wickets[:]
    new_wickets.insert(0,10)
    wickets.append(0)
    w = np.array(wickets)
    nw = np.array(new_wickets)
    temp_df['wickets_in_over'] = (nw - w)[0:temp_df.shape[0]]
    
    print("Target-",target)
    temp_df = temp_df[['end_of_over','runs_after_over','wickets_in_over','lose','win']]
    return temp_df,target

In [188]:
temp_df,target = match_progression(delivery_df,14,pipe)
temp_df

ValueError: Found array with 0 sample(s) (shape=(0,)) while a minimum of 1 is required.

In [191]:
import matplotlib.pyplot as plt
plt.figure(figsize=(18,8))
plt.plot(temp_df['end_of_over'],temp_df['wickets_in_over'],color='yellow',linewidth=3)
plt.plot(temp_df['end_of_over'],temp_df['win'],color='#00a65a',linewidth=4)
plt.plot(temp_df['end_of_over'],temp_df['lose'],color='red',linewidth=4)
plt.bar(temp_df['end_of_over'],temp_df['runs_after_over'])
plt.title('Target-' + str(target))

NameError: name 'temp_df' is not defined

In [192]:
teams

['Sunrisers Hyderabad',
 'Mumbai Indians',
 'Royal Challengers Banglore',
 'Chennai Super Kings',
 'Kolkata Knight Ridres',
 'kings XI Punjab',
 'Rajasthan Royals',
 'Delhi Capitals']

In [193]:
delivery_df['city'].unique()

array(['Mumbai', 'Hyderabad', 'Delhi', 'Chennai', 'Jaipur', 'Cape Town',
       'Durban', 'Centurion', 'Port Elizabeth', 'Johannesburg',
       'East London', 'Kimberley', 'Bloemfontein', 'Ahmedabad', 'Cuttack',
       'Visakhapatnam', 'Bangalore', 'Kolkata', 'Abu Dhabi', nan,
       'Sharjah', 'Ranchi', 'Raipur', 'Pune'], dtype=object)

In [190]:
import pickle
pickle.dump(pipe,open('pipe.pkl','wb'))